{% extends "base.html" %}
{% load static %}

{% block extra_title %}Bookmark{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="overlay">
                <div class="row">
                    <div class="col text-center mt-3">
                        <h1>Bookmark</h1>
                    </div>
                </div>
                <hr class="mt-1 mb-3">

            <!--BOOKS-->
            {% if user_bookmarks %}
            <div class="container-fluid">
                <div class="row">
                    <div class="book-container col-10 offset-1 mt-5 mb-2">
                        <div class="row">
                            {% for book in user_bookmarks %}
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <div class="card h-100 card-border">
                                        {% if book.cover %}
                                        <a href="{% url 'book_summary' book.id %}" class="d-flex justify-content-center">
                                            <img class="cover-img-sml card-img-top img-fluid" src="{{ book.cover.url }}" alt="Image of{{ book.title }} cover">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'book_summary' book.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body pb-0">
                                            <p class="category-badge mb-0 badge rounded-pill">{{ book.category.friendly_name}}</p>
                                        </div>
                                        <div class="card-body pb-0">
                                            <a href="{% url 'book_summary' book.id %}">
                                                <p class="book-title mb-1">{{ book.title}}</p>
                                                <p class="author mb-0 text-small">{{ book.author}}</p>
                                            </a>
                                        </div>
                                        <div class="card-body pb-0">
                                            
                                        </div>
                                        <div class="card-footer pt-0 border-0 text-left">
                                            <div class="row">
                                                <div class="col">
                                            </div>
                                                {% if request.user.is_superuser %}
                                                    <div class="col d-flex justify-content-end">
                                                        <p class="me-1">Remove Bookmark</p>
                                                        <i class="bi bi-bookmark-dash-fill icon bookmark-icon pointer" data-bs-toggle="modal" data-bs-target="#removeModal{{book.id}}"></i>
                                                    </div>

                                                    <!--Bookmark Remove Modal -->
                                                    <div class="modal fade" id="removeModal{{book.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeModal{{book.id}}" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 alert alert-danger" id="staticBackdropLabel{{book.id}}">Bookmark Remove Confirmation</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to remove bookmark from {{book.title}}?</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <a href="{% url 'bookmark_remove' book.id %}" class="btn btn-primary">Yes</a>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:1 %}
                                    <div class="col-12 d-sm-none mb-5">
                                    </div>
                                {% endif %}                        
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    </div>
                                {% endif %}
                                {% if forloop.counter|divisibleby:3 %}
                                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    </div>
                                {% endif %}
                                {% if forloop.counter|divisibleby:4 %}
                                    <div class="col-12 d-none d-xl-block mb-5">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="text-center">
                <p class="lead mb-3">You don't have any bookmarked books</p>
                <a href="{% url 'all_books' %}">
                    <span class="btn btn-primary"><i class="bi bi-book me-2"></i>Find Books</span>
                </a>
            </div>
            {% endif %}
            
            <!--BACK TO TOP BUTTON-->
            <div class="mt-5">
                <a class="d-flex h-100" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip" data-bs-title="Back to Top">
                    <i class="bi bi-arrow-up-square arrow-icon icon mx-auto my-auto" id="arrow-up" onmouseenter="fillSquare(this)" 
                    onmouseleave="emptySquare(this)" onclick="scrollToTop()"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}