.order-table {
    width: 90%;
  }

.form-control {
  width: 90%;
  margin: auto;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
  color: #aab7c4;
}

.order-table {
  max-height: 400px;
  overflow-y: auto;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
  .form-control {
    width: 50%;
  }
}