/*CSS REBASE sourced from Codu article documented in README.md*/
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

html, body {
    height: 100%;
  }

body {
    font-size: 16px;
    background-color: white;
    overflow-x: hidden;
  }

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
  }

img {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
  }

/*GLOBAL STYLES*/
.form-control {
  border: 1px solid #198a98;
  margin: auto;
}

.bi {
  font-size: 1.35rem;
}

hr {
  width: 75%;
  height: 1.75px;
  margin: auto;
  background-color: #cc0069;
  opacity: 80%;
}

a {
  text-decoration: none;
}

.page-content {
  min-height: calc(100vh - 119px);
}

.overlay {
  width: 95%;
  margin: auto;
  margin-top: 3rem;
  background-color: #EEF7FB;
}

.message-container {
  z-index: 10;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.btn-primary {
  background-color: #CC0069;
  border: none;
  --bs-btn-hover-color: #EEF7FB;
  --bs-btn-hover-bg: #198A98;
  --bs-btn-hover-border-color: #cc0069;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #cc0069;
  --bs-btn-active-bg: #198A98;
  --bs-btn-active-shadow: none;
}

.btn-outline-light {
  --bs-btn-hover-color: #EEF7FB;
  --bs-btn-hover-bg: #01466c;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #EEF7FB;
  --bs-btn-active-bg: #01466c;
  --bs-btn-active-shadow: none;

}

/*NAVBAR*/
nav {
  background-color: #198A98;
}

.navbar-brand-bg {
  background-color: #CC0069;
  padding: 0.5rem;
  border: 3px solid #01466c;
  border-radius: 5px;
}

.navbar-brand#bmi-brand {
  color: #EEF7FB;
  font-family: 'Saira Stencil One', sans-serif;
  font-size: 2rem;

  /*Hover effect @ CSS Tricks - see readme*/
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #64BBE4, #64BBE4 50%, #EEF7FB 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 100%;
  transition: background-position 500ms ease;
}

.navbar-brand#bmi-brand:hover {
  background-position: 0 100%;
}

.nav-link-lg {
  color: #EEF7FB;
  font-weight: 600;
}

.nav-icon {
  color:#EEF7FB;
}

#search-btn:hover {
  background-color: #01466c;
  border: 1px solid #EEF7FB;
}

/*FOOTER*/
.page-footer {
  background-color: #198A98;
}

.f-icon {
  color: #EEF7FB;
}

.f-icon:hover {
  color: #CC0069;
}

/*ALLAUTH*/
.allauth-container {
  width: 90%;
}

.form-group {
  margin-bottom: 8px;
}

/*PROFILE*/
.profile-overlay {
  width: 100%;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
  .overlay {
    width: 75%;
  }

  .allauth-container {
    width: 50%;
  }

  .form-control {
    width: 50%;
  }
}