{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
  <div class="col text-center mt-3">
    <h1>{% trans "Log in" %}</h1>
  </div>
  <hr class="mt-1 mb-2">
  </div>
<div class="container allauth-container">

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="ms-2">{% blocktrans with site.name as site_name %}Please log in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">register</a>
for a {{ site_name }} account and log in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="ms-2 mb-2">{% blocktrans %}Don't have an account yet?
<a href="{{ signup_url }}" class="text-black"><strong>Register here</strong></a>{% endblocktrans %}</p>
{% endif %}

<form class="login ms-2" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy}}
  {% if redirect_field_value %}
  <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p class="ms-2 mb-2">Forgot your password?
    <a href="{% url 'account_reset_password' %}" class="text-black"><strong>Reset here</strong></a></p>

  <button class="btn btn-secondary mb-2">
    <a href="{% url 'all_books' %}" class="text-dec-none text-light">View Books</a>
  </button>
  <button class="primaryAction btn btn-primary mb-2" type="submit">{% trans "Log In" %}</button>
</form>
</div>

{% endblock %}
