{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="col text-center mt-3">
        <h1>{% trans "Password Reset" %}</h1>
    </div>
    <hr class="mt-1 mb-2">
  </div>

  <div class="container allauth-container">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="text-center mb-5">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
