{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="row">
            <div class="col text-center mt-3">
                <h1>{{ book.title }} Summary</h1>
            </div>
        </div>
        <hr class="mt-1 mb-3">

        <!--BOOK COVERS-->
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-center mb-4">
                <div class="col-10 col-md-5 col-lg-4 mb-2">
                    <div class="image-container mb-2">
                        {% if book.cover %}
                            <a href="{{ book.cover.url }}" target="_blank">
                                <img class="cover-img-med img-fluid" src="{{ book.cover.url }}" alt="{{ book.title }}">
                            </a>
                            {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ book.title }}">
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="col d-flex justify-content-center">
                             <a href="{% url 'delete_book' book.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Delete">
                                <i class="bi bi-trash edit-icon me-5"></i>
                            </a>
                            <a href="{% url 'edit_book' book.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Edit">
                                <i class="bi bi-pencil edit-icon ms-4 me-5"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                
                <!--BOOK MAIN INFO-->
                <div class="col-12 col-md-7 col-lg-5">
                    <div class="card-body pb-0">
                        <p class="category-badge mb-0 badge rounded-pill">{{ book.category.friendly_name}}</p>
                    </div>
                    <p class="book-title mb-0">{{ book.title }}</p>
                    <p class="book-author mb-2">{{ book.author }}</p>
                    {% if book.series %}
                        <p class="mb-0">Book <strong>{{book.number_in_series}}</strong> of <strong>{{ book.series }}</strong> series</p>
                    {% endif %}
                    <p class="book-price mb-3 text-left">£{{ book.price }}</p>
                    <a href="{% url 'bookmark_add' book.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip" data-bs-title="Add bookmark">
                        <i class="bi bi-bookmark-plus"></i>
                    </a>

                    <!--QUANTITY FORM-->
                    <form class="form" method="POST" action="{% url 'add_to_basket' book.id %}">
                        {% csrf_token %}
                        <p><strong>Quantity:</strong></p>
                        <div class="form-group">
                            <div class="input-group input-group-{{ book.id }} w-50">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty decrement-qty_{{ book.id }} btn" 
                                        data-book_id="{{ book.id }}">
                                        <span class="icon">
                                            <i class="bi bi-dash"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control mb-2 qty_input id_qty_{{ book.id }} w-25" type="number" name="quantity" value="1" min="1" max="99" data-book_id="{{ book.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn increment-qty_{{ book.id }}"
                                        data-book_id="{{ book.id }}">
                                        <span class="icon">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary mt-2 mb-3" value="Buy">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>

                    <!--BOOK INFO CONTINUED-->
                    <p class="book-isbn mb-1 text-left"><strong>ISBN:</strong> {{ book.isbn }}</p>
                    {% if book.pages %}
                    <p class="mb-1 text-left"><strong>Pages:</strong> {{ book.pages }}</p>
                    {% endif %}
                    {% if book.date_published %}
                    <p class="mb-1 text-left"><strong>Published:</strong> {{ book.date_published }}</p>
                    {% endif %}
                </div>
            </div>

            <!--BOOK SUMMARY-->
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-9">
                    <p class="mb-0"><strong>Summary:</strong></p>
                    <p class="book-summary t-3">{{ book.summary }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'books/includes/qty_input.html' %}
{% endblock %}
