<script>
/* Quantity input increase & decrease sourced from Code Institute walkthrough
and AJ Greaves bug fix documented in Readme.
*/

 function handleEnableDisable(bookId) {
    let currentValue = parseInt($(`.id_qty_${bookId}`).val());

    let minusDisabled = currentValue < 2;
    let plusDisabled = currentValue > 98;

    $(`.decrement-qty_${bookId}`).prop('disabled', minusDisabled);
    $(`.increment-qty_${bookId}`).prop('disabled', plusDisabled);
}

// Ensure proper enabling/disabling of all inputs on page load
let allQtyInputs = $('.qty_input');
for(let i = 0; i < allQtyInputs.length; i++){
    let bookId = $(allQtyInputs[i]).data('book_id');
    handleEnableDisable(bookId);
}

// Check enable/disable every time the input is changed
$('.qty_input').change(function() {
    let bookId = $(this).data('book_id');
    handleEnableDisable(bookId);
});

$('.increment-qty').click(function(event) {
    event.preventDefault();
    let bookId = $(this).data('book_id');
    let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    let currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    handleEnableDisable(bookId);
});

$('.decrement-qty').click(function(event) {
    event.preventDefault();
    let bookId = $(this).data('book_id');
    let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    let currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1);
    handleEnableDisable(bookId);
});
</script>